.item{
    border: 2px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    position: relative;

}

.item:not(:last-child){
    margin-bottom: 5px;
}

.avatar{
    margin-top: 10px;
}

.name{
    font-weight: 700;
}

.online {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 15px;
  position: absolute;
  top: 45%;
  left: 15%;
  background-color: green;
}

.offline {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 15px;
  position: absolute;
  top: 45%;
  left: 15%;
  background-color: red;
}